table {
    min-width: 1020px;
    justify-content: center;
}

label {
    font-size: 3rem;
    font-weight: bold;
    display: block;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

footer {
    font-style: italic;
}

.inactive {
    font-style: italic;
}