<nav class="navbar">
    <ul class="nav-links">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="teams" routerLinkActive="selected">Teams</a></li>
        <li><a routerLink="seasons" routerLinkActive="selected">Seasons</a></li>
        <li><a routerLink="divisions" routerLinkActive="selected">Divisions</a></li>
        <li><a routerLink="rankings" routerLinkActive="selected">Power Rankings</a></li>
        <li><a routerLink="records" routerLinkActive="selected">League Records</a></li>
    </ul>
</nav>